#login_modal {
  font-family: sans-serif;
}
#login_modal .modal-dialog {
  width: 100%;
  max-width: 530px;
}
#login_modal form ~ .row {
  display: none;
}
#login_modal form .cont-phone-row {
  display: block;
}
#login_modal form label.sr-only {
  position: static;
  width: 100%;
  height: auto;
  padding-bottom: 8px;
  margin: -1px;
  overflow: visible;
  clip: unset;
  border: 0;
}
#login_modal .modal-content {
  padding: 2rem;
}
#login_modal .modal-header {
  margin-bottom: 1rem;
}
#login_modal .modal-header,
#login_modal .modal-footer,
#login_modal .modal-body {
  padding: 0;
}
#login_modal .modal-footer {
  padding-top: 1rem;
}
#login_modal .modal-login-disclaimer {
  line-height: normal;
  color: #6b6b6b;
}
#login_modal .modal-login-disclaimer a {
  color: #6b6b6b;
}
#login_cont_caption:after {
  content: "Get notified of new listings and price changes that match your preferences via email!";
}
